// Bulma
@import "~bulma/bulma.sass";


// Custom
html, body {
    height: 100%;
}

body,
#app {
    background-color: #f5f5f5;
}

nav {
    margin-bottom: 20px;
}

nav .navbar-dropdown .navbar-item:hover {
    background-color: #209cee;
    color: #fff;
}

a {
    outline: none !important;
}

#app {
    padding-bottom: 40px;
}

#message {
    margin-bottom: 20px;
}

#message .delete {
    margin: 5px 5px 0 0;
}

#new-file-form .file {
    margin-right: 10px;
}

.delete-file {
    float: right;
    z-index: 99;
    margin: 5px 5px 0 0;
}

.delete-file:hover {
    background-color: #f00;
}

.card audio {
    width: 100%;
}

.video_block>video {
    position: relative;
    top: -25px;
}

.document_block {
    text-align: center;
}

// vue animation
[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
